
@{
    Layout = null;
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Weblog a Blogging Category Bootstrap responsive WebTemplate | Blog3 :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/web/css/single.css">
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
	<link href="~/web/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
</head>

<body>
	<!--Header-->

	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-2 logo text-left">
					<a class="navbar-brand" href="~/web/index.html">
						<i class="fab fa-linode"></i> Weblog</a>
				</div>
				<div class="col-md-8 top-forms text-center mt-lg-3 mt-md-1 mt-0">
					
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="/Login/Index">
							<i class="fas fa-lock"></i> Giriş(Kullanıcı)
						</a>
					</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="/Login/LoginOrganizer">
							<i class="fas fa-lock"></i> Giriş(Organizatör)
						</a>
					</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="/Login/LoginCompany">
							<i class="fas fa-lock"></i> Giriş(Firma)
						</a>
					</span>
					<span class="mx-lg-4 mx-md-2  mx-1">
						<a href="/Login/LoginAdmin">
							<i class="fas fa-lock"></i> Giriş(Admin)
						</a>
					</span>
					<span>
						<a href="/Register/Index">
							<i class="far fa-user"></i> Kayıt ol(Kullanıcı) 
						</a>
					</span>
					<span>
						<a href="/Register/RegisterOrganizer">
							<i class="far fa-user"></i> Kayıt ol(Organizatör) 
						</a>
					</span>
					<span>
						<a href="/Register/RegisterCompany">
							<i class="far fa-user"></i> Kayıt ol(Firma) 
						</a>
					</span>
				</div>
				<div class="col-md-2 log-icons text-right">

					<ul class="social_list1 mt-3">

						<li>
							<a href="#" class="facebook1 mx-2">
								<i class="fab fa-facebook-f"></i>

							</a>
						</li>
						<li>
							<a href="#" class="twitter2">
								<i class="fab fa-twitter"></i>

							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header_top" id="home">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-			 controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/Activity/Index/">
								Etkinlikler
								<span class="sr-only">(current)</span>
							</a>
						</li>
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link" href="/City/Index/">Şehirler</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Category/Index/">Kategoriler</a>
							</li>
						}

						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							    aria-expanded="false">
								Kullanıcılar
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#"></a>
								<a class="dropdown-item" href="#">Adminler</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Normal üyeler</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Organizatörler</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Firmalar</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sorgulamalar</a>
						</li>
						@if (User.IsInRole("Organizer"))
						{
							<li class="nav-item">
								<a class="nav-link" href="/Activity/AddActivity/">Yeni Organizasyon Ekle</a>
							</li>
						}
						@if (User.IsInRole("User"))
						{
							<li class="nav-item">
								<a class="nav-link" href="/User/MyActivities/">Katıldığım Etkinlikler</a>
							</li>
						}

					</ul>
				</div>
			</nav>

		</div>
	</header>

	<!--//header-->
	<!--/main-->
	@RenderBody()
	<!--//main-->
	<!--footer-->
	
	<!---->

	<!-- js -->
	<script src="~/web/js/jquery-2.2.3.min.js"></script>
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<script src="~/web/js/move-top.js"></script>
	<script src="~/web/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!--// end-smoth-scrolling -->

	<script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- //Custom-JavaScript-File-Links -->
	<script src="~/web/js/bootstrap.js"></script>


</body>

</html>
