@model IEnumerable<EntityLayer.Concrete.CompanyActivity>

<hr />


@foreach(var item in Model)
{
    <p>@item.CompanyActivityId</p>
    <p>Satan Firma: @item.CompanyId</p>
    <p>@item.ActivityId</p>
    <hr />
}